<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/image/OIP.jpg" width="150" height="50"></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="menu">

        <input type="submit" name="" value="Login" class="inside-menu" [routerLink]="['/login']" onclick="formvalid()">
        &nbsp;&nbsp;
        <input type="submit" name="" value="Signup" class="inside-menu" [routerLink]="['/signup']" onclick="formvalid()">
      </div>

      <!--

    <div
    class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
    [ngClass]="{ show: isExpanded }"
  >
    <ul class="navbar-nav flex-grow">
      <li
        class="nav-item"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >

        <a class="nav-link text-dark" [routerLink]="['/']"></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/counter']"></a>

      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/fetch-data']"></a>
      </li>
    </ul>
  </div>
   -->
    </div>
  </nav>
</header>
