body{
  background-color: blue;   
}
h1 {
   font-style:normal;
    color:darkslateblue;
    font-weight:bolder;
   
}
  
.search-box
{
    
    height:100px;
    width:500px;
     
}
.sb1 {
  margin-left: -130px;
}
.sb2 {
    margin-top:-500px;
     
}
.menu{

    list-style:none;
    margin-left:970px;
}

button:hover {
    transition:all 1s;
  transform: scale(1.5);
}
.shortURl-button{
    background-color:aqua;
    color:Background;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:copy;
}
.shortURl-button:hover{
    background-color:#e53935;
}
.shortURl-button:active{
    background-color:#c62828;
}
#searchbox {
}
